<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="icon" type="image/x-icon" href="https://avheuv.github.io/astro/favicon.ico">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://avheuv.github.io/astro/lesson-style.css">
    <script src="https://avheuv.github.io/astro/lesson.js"></script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div>
      <h1>{{ page.title }}</h1>
      {{ content }}
    <hr>
    <p class="copyright">Copyright 2024 Andrew VandenHeuvel</p>
    </div>
  </body>
</html>
