<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="avh-lesson-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    <div class="w3-container" style="padding-left:5px;padding-right:5px;">
      {{ content }}
    <hr>
    <p class="copyright">Copyright 2024 Andrew VandenHeuvel</p>
    </div>

    {% include analytics.html %}
  </body>
</html>
